@using ProjectsPage.Models

<h2>Demos</h2>

<FrameSelectionItems
    FrameSelections="@DemosSelections"
    SelectedFrame="@SelectedFrame"
    OnSelected="@OnSelected"
    OnSelectionChange="@OnSelectionChange"
    SetDetail="@SetDetail"
    StartingNumber="@StartingNumber" />

@code {
    [Parameter]
    public EventCallback<FrameSelectionOption> OnSelected { get; set; }

    [Parameter]
    public required List<FrameSelectionOption> DemosSelections { get; set; }

    [Parameter]
    public FrameSelectionOption? SelectedFrame { get; set; } = null;

    [Parameter]
    public bool? SetDetail { get; set; }

    [Parameter]
    public EventCallback<(bool, FrameSelectionOption)> OnSelectionChange { get; set; }

    [Parameter]
    public int StartingNumber { get; set; }
}
