<!-- --Copyright (c) 2026 Robert A. Howell -->

@using ProjectsPage.Components.Subcomponents
@using ProjectsPage.Domain
@namespace ProjectsPage.Components.Primary

<h2>Demos</h2>
<SortSelectionsAZ
    OnResortedListSelected="@OnResortedListSelected"
    DemosSelections="@DemosSelections"
    DeploymentAs="@DeploymentAs" />

<SortSelectionsDateStart
    OnResortedListSelected="@OnResortedListSelected"
    DemosSelections="@DemosSelections"
    DeploymentAs="@DeploymentAs" />

<FrameSelectionItems
    FrameSelections="@DemosSelections"
    SelectedFrame="@SelectedFrame"
    OnSelected="@OnSelected"
    OnSetAboutView="@OnSetAboutView"
    OnSelectionChange="@OnSelectionChange"
    SetDetail="@SetDetail"
    StartingNumber="@StartingNumber"
    DeploymentAs="@DeploymentAs" />

@code {
    
    private const string DeploymentAs = "DEMO";
    [Parameter]
    public EventCallback<(SortOrder, string)> OnResortedListSelected { get; set; }
    
    [Parameter]
    public EventCallback<FrameSelectionOption> OnSelected { get; set; }
    
    [Parameter]
    public EventCallback<bool> OnSetAboutView { get; set; }

    [Parameter]
    public required List<FrameSelectionOption> DemosSelections { get; set; }

    [Parameter]
    public FrameSelectionOption? SelectedFrame { get; set; } = null;

    [Parameter]
    public bool? SetDetail { get; set; }

    [Parameter]
    public EventCallback<int> OnSelectionChange { get; set; }

    [Parameter]
    public int StartingNumber { get; set; }
}
