@using ProjectsPage.Components.Subcomponents
@using ProjectsPage.Models

<ul>
    @foreach (var frame in @FrameSelections.ToArray())
    {
        <li>
            <div class="page-view-selection @(SelectedFrame?.Title == frame.Title ? "displaying" : "")" @onclick="() => OnSelectedOnClick(frame)">
                <img src="@frame.ImageUrl" alt="@frame.ImageAltText" />
                <div class="page-view-selection-text">
                    <a class="page-view-link" href="@frame.Href"
                       title="@frame.Title">@frame.InnerText</a>
                    <button class="details-panel-toggle @(SelectedFrame != null ? "disabled" : "disabled greyed")" @onclick:stopPropagation="true" @onclick="() => ToggleDetailsOnClick(frame)">Details</button>
                    <a class="information-panel-toggle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                        </svg>
                        <div class="information-panel" data-visibility="none">
                            <h3 data-visibility="none">@frame.Title</h3>
                            <p data-visibility="none"><strong data-visibility="none">Language:</strong> @frame.SelectionDetails.ProgrammingLanguage</p>
                            <SecondaryLanguage SelectedWebsite="@frame" IsHoverElement="true"/>
                            @if (!String.IsNullOrWhiteSpace(@frame.SelectionDetails.Framework))
                            {
                                <p data-visibility="none"><strong data-visibility="none">Framework:</strong> @frame.SelectionDetails.Framework</p>
                            }
                            @* <p><strong>Database:</strong> @frame.SelectionDetails.Database</p> *@
                            @* <p><strong>Deployment:</strong> @frame.Deployment</p> *@
                            @* <p><strong>Hosting:</strong> @frame.Hosting</p> *@
                        </div>
                    </a>
                </div>
            </div>
            <SelectedWebsiteDetails
                SelectedWebsite="@frame"
                ShowDetails="@true"
                StartingNumber="@StartingNumber"
                />
            @{ StartingNumber++; }
        </li>
    }
</ul>

@code {
    [Parameter]
    public required List<FrameSelectionOption> FrameSelections { get; set; }

    [Parameter]
    public FrameSelectionOption? SelectedFrame { get; set; } = null;

    [Parameter]
    public EventCallback<FrameSelectionOption> OnSelected { get; set; }

    [Parameter]
    public EventCallback<(bool, FrameSelectionOption)> OnSelectionChange { get; set; }

    [Parameter]
    public bool? SetDetail { get; set; }

    public static bool IsDetailsShowing { get; set; } = true;
    private bool IsMouseOver = false;
    private Dictionary<string, string> ItemsInfoPanelAreOpen = new();

    private void ToggleDetailsOnClick(FrameSelectionOption selectedFrame)
    {
        //NEEDED? ... ready for toggle button
        if (SetDetail != null && IsDetailsShowing == SetDetail)
        {
            OnSelectionChange.InvokeAsync((false,selectedFrame));
        }
        else {
            OnSelectionChange.InvokeAsync((true, selectedFrame));
        }
    }

    private void OnSelectedOnClick(FrameSelectionOption frame)
    {
        OnSelected.InvokeAsync(frame);
    }

    private void OnMouseOverInfoToggle()
    {
        IsMouseOver = true;
    }

    [Parameter] public int StartingNumber { get; set; }
}
