<!-- --Copyright (c) 2026 Robert A. Howell -->

@using ProjectPages.Components.Primary
@using ProjectsPage.Components.Subcomponents
@using ProjectsPage.Models
@rendermode InteractiveServer
@inject NavigationManager Nav
@namespace ProjectsPages.Components.Primary

@if(@_selectedWebsite != null)
{
<div id="menu-selection">
    <h1 data-visibility="no-result">@_selectedWebsite.Title</h1>
    <button @onclick="() => OnDetailsToggleOpen(true)" id="details-panel-toggle">Details</button>
    <a class="page-view-detail external" href="@_selectedWebsite.ExternalHref" id="Details-Panel-External"
       referrerpolicy="strict-origin-when-cross-origin"
       title="@_selectedWebsite.ExternalTitle"
       target="_blank">Go there</a>
    <button class="copy-link @(_copied ? "copied": "")" @onclick="CopyExternalHrefAsync">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
        </svg>
    </button>
    <SelectWebsiteDetails
        SelectedWebsite="@_selectedWebsiteDetails"
        ShowDetails="@_toggleDetails"
        OnCloseClicked="OnDetailsToggleOpen"
        OnAfterNavigateToDocsFrameCloseSelectionDetailPanel="OnAfterNavigateClosePanel"
        StartingNumber="@OtherIndexOpened" />
    <HyperTextMarkdownSearch
        OnReceiveSearchFindingIndexClicked="@SetOtherIndexOpened"
        OnReceiveSearchFindingNodeClicked="@ChangeSelectedWebsiteDetails"
        OnCount="SetCount"
        Nodes="@_foundElements" />
    @* how about a toggle? *@
    <div class="page-frame-toggle" >
        <div id="pill-display" class="pill-toggle" @onclick="@(() => ToggleFrameView(null))">
            <div></div>
        </div>
        <label id="testing">
            <input type="checkbox" checked="@(_isAboutMainView ? true : null)">
            <span id="frameview">Framed</span>
            <span id="detailview">About</span>
        </label>
    </div>
</div>
}

<div id="growing-placeholder"></div>
<nav id="menu" class="@_menuOptionSelection.ToLower() @(_selectedWebsite is null ? "no-menu-selection" : "")">
    <h1><a href="/"
           rel="opener"
           title="roberthowell.dev"
           target="_self">roberthowell.dev</a></h1>

    <InputRadioGroup Name="menu" @bind-Value="_menuOptionSelection">
        <label>All
            <InputRadio Name="menu" Value="@ProjectsAllMenuOption" Label="Proficiencies"/>
        </label>
        <label>By Type
            <InputRadio Name="menu" Value="@ProjectsByTypeMenuOption"/>
        </label>
        @* <label>Cybersecurity *@
        @*     <InputRadio Name="menu" Value="@CybersecurityMenuOption" Label="Cybersecurity"/> *@
        @* </label> *@
    </InputRadioGroup>

    <div>
        @switch (_menuOptionSelection)
        {
            case ProjectsByTypeMenuOption:
                //////////TODOS//////////
                // Sort component? (by date?, framework? secondary language?)
                //Icons to fill in the cards and highlight the framing functionality limitations
                //+Warnings
                //+Errors (expected)
                <WebsitesFrameSelections
                    WebsitesSelections="@WebsiteSelections.ToList()"
                    SelectedFrame="@_selectedWebsite"
                    OnSelected="HandleWebsiteSelected"
                    SetDetail="@_toggleDetailsSet"
                    OnSelectionChange="@SetOtherIndexOpened"
                    OnSetAboutView="@SetToggleAboutView"
                    StartingNumber="0"
                    OnResortedListSelected="@ResortListSelected" />
                <DemosFrameSelections
                    DemosSelections="@DemoSelections"
                    SelectedFrame="@_selectedWebsite"
                    OnSelected="HandleWebsiteSelected"
                    SetDetail="@_toggleDetailsSet"
                    OnSelectionChange="@SetOtherIndexOpened"
                    OnSetAboutView="@SetToggleAboutView"
                    StartingNumber="6"
                    OnResortedListSelected="@ResortListSelected" />
                break;
            case ProjectsAllMenuOption:

                <FrameSelectionItems
                    FrameSelections="@AllSelections"
                    SelectedFrame="@_selectedWebsite"
                    OnSelected="@HandleWebsiteSelected"
                    OnSelectionChange="@SetOtherIndexOpened"
                    OnSetAboutView="@SetToggleAboutView"
                    OnResortedListSelected="@ResortListSelected"
                    SetDetail="@_toggleDetailsSet"
                    StartingNumber="0"
                    DeploymentAs="@DeploymentAs"/>
                
                break;
            case ProjectsCyberMenuOption:
                //////////TODOS//////////
                // Full Projects+Demos List
                //+Error statuses
                //+HEAD request listed or itemized
                //+Tech specs (OS, server type, kernel base, CPU?, Memory reading?)
                //+Product support and versioning
                <ul>
                    
                    <li>6</li>
                    <li>7</li>
                </ul>
                break;
                //////////TODOS//////////
                //Extra category to site descriptions?::
                //-Caability
                //-Scalability
                //-Support staff
                //-Project timeline estimate
                
        }
    </div>
    <a href="/status"
       data-enhance-nav="false"
       rel="opener"
       title="roberthowell.dev"
       target="_self">Status</a>
</nav>

@code {
    private bool _isAboutMainView = false;

    private void SetToggleAboutView(bool setAboutView)
    {
        ToggleFrameView(setAboutView);
    }
    private void ToggleFrameView(bool? setAboutView)
    {
        if (setAboutView.HasValue)
        {
            _isAboutMainView = setAboutView.Value;
        }
        else{
            _isAboutMainView = !_isAboutMainView;
        }
    } 
    
    private List<FrameSelectionOption> AllSelections { get; set; } = [];
    private async Task ResortListSelected((SortOrder sortOrder, string deploymentAs) args)
    {

        switch (args.deploymentAs)
        {
            case "ALL":
                if(args.sortOrder == SortOrder.NEWEST)
                    AllSelections = AllSelections.OrderByDescending(x => x.SelectionDetails.StartDate)
                        .ToList();
                if (args.sortOrder == SortOrder.OLDEST)
                    AllSelections = AllSelections.OrderBy(x => x.SelectionDetails.StartDate)
                        .ToList();
                if(args.sortOrder == SortOrder.AZ)
                    AllSelections = AllSelections.OrderBy(x => x.Title)
                        .ToList();
                if(args.sortOrder == SortOrder.ZA)
                    AllSelections = AllSelections.OrderByDescending(x => x.Title)
                        .ToList();
                break;  
            case "WEBSITE":
                if(args.sortOrder == SortOrder.NEWEST)
                    WebsiteSelections = WebsiteSelections.OrderByDescending(x => x.SelectionDetails.StartDate)
                        .ToList();
                if(args.sortOrder == SortOrder.OLDEST)
                    WebsiteSelections = WebsiteSelections.OrderBy(x => x.SelectionDetails.StartDate)
                        .ToList();
                if(args.sortOrder == SortOrder.AZ)
                    WebsiteSelections = WebsiteSelections.OrderBy(x => x.Title)
                        .ToList();
                if(args.sortOrder == SortOrder.ZA)
                    WebsiteSelections = WebsiteSelections.OrderByDescending(x => x.Title)
                        .ToList();
                break;
            case "DEMO":
                if(args.sortOrder == SortOrder.NEWEST)
                    DemoSelections = DemoSelections.OrderByDescending(x => x.SelectionDetails.StartDate)
                        .ToList();
                if(args.sortOrder == SortOrder.OLDEST)
                    DemoSelections = DemoSelections.OrderBy(x => x.SelectionDetails.StartDate)
                        .ToList();
                if(args.sortOrder == SortOrder.AZ)
                    DemoSelections = DemoSelections.OrderBy(x => x.Title)
                        .ToList();
                if(args.sortOrder == SortOrder.ZA)
                    DemoSelections = DemoSelections.OrderByDescending(x => x.Title)
                        .ToList();
                break;
            default:
                throw new ApplicationException("No selection found!");

        }
            await InvokeAsync(StateHasChanged);
    }
    
    public List<FrameSelectionOption> ConcatWebsiteAndDemoSelections()
    {
        var allSelections = WebsiteSelections.Concat(DemoSelections).ToList();
            allSelections.Sort((a, b) => string.Compare((a.Title), b.Title, StringComparison.OrdinalIgnoreCase));
            return allSelections;
    }
    private const string DeploymentAs = "ALL";

    private const string ProjectsAllMenuOption = "ALL";
    private const string ProjectsByTypeMenuOption = "PROFICIENCIES";
    private const string ProjectsCyberMenuOption = "CYBERSECURITY";
    private string _menuOptionSelection = ProjectsAllMenuOption;

    [Parameter]
    public int StartingNumber { get; set; }

    [Parameter]
    public int UseDialogIndex { get; set; }

    private FrameSelectionOption? _selectedWebsite;
    private FrameSelectionOption? _selectedWebsiteDetails;

    private int Found { get; set; }

    private List<object> _foundElements = [];

    public void SetCount(int count)
    {
        Found = count;
        WriteLine($"{this}::SetCount count find: {Found}");
    }

    private async Task SetOtherIndexOpened(int dialogIndexToOpen)
    {
        var selectedFrame = FrameSelectionItems.DialogIndexDataFetch.SearchFindingNodeClicked_FindFrameOptionToOpen(dialogIndexToOpen);
        _toggleDetails = false;
        await InvokeAsync(StateHasChanged);
        _toggleDetails = true;
        _selectedWebsiteDetails = selectedFrame;
        OtherIndexOpened = dialogIndexToOpen;

        await InvokeAsync(StateHasChanged);
    }

    private async Task ChangeSelectedWebsiteDetails((bool open, FrameSelectionOption frame, int IndexNumber) selectionChangeDetails)
    {
        _selectedWebsite = selectionChangeDetails.frame;
        await InvokeAsync(StateHasChanged);
        
        Nav.NavigateTo(_selectedWebsite.Href);
        await InvokeAsync(StateHasChanged);
        
    }

    public required List<FrameSelectionOption> WebsiteSelections = FrameSelectionData.WebsiteSelections;

    public required List<FrameSelectionOption> DemoSelections = FrameSelectionData.DemoSelections;

    private bool _toggleDetails;

    private bool? _toggleDetailsSet;
    private bool _copied;

    [Inject]
    private ProjectsPage.Services.ClipboardService Clipboard { get; set; } = default!;

    private void OnAfterNavigateClosePanel(bool opened)
    {
        if(_isAboutMainView)
            _isAboutMainView = false;
        OnDetailsToggleOpen(opened);
    }
    
    public void OnDetailsToggleOpen(bool opened)
    {
        _toggleDetails = opened;
        
        //reset the details when clicked
        if (_selectedWebsiteDetails != _selectedWebsite)
        {
            _selectedWebsiteDetails = _selectedWebsite;
            OtherIndexOpened = FrameSelectionItems.DialogIndexDataFetch.GetFrameOptionIndexByFrameSelectionOption(_selectedWebsiteDetails);
        }
    }

    private int OtherIndexOpened { get; set; } = -1;

    private async Task CopyExternalHrefAsync()
    {
        await Clipboard.CopyTextAsync(_selectedWebsite?.ExternalHref);
        _copied = true;
    }

    private void HandleWebsiteSelected(FrameSelectionOption clicked)
    {
        // Reset copied due to new selection clicked
        _copied = false;

        if (!SyncSelectionClicked(clicked)) return;

        //Navigate after selection is applied
        Nav.NavigateTo(_selectedWebsite!.Href);
    }

    protected override void OnInitialized()
    {
        AllSelections = WebsiteSelections.Concat(DemoSelections)
            .OrderByDescending(x => x.SelectionDetails.StartDate)
            .ThenBy(x => x.Title)
            .ToList();
        
        WebsiteSelections = FrameSelectionData.WebsiteSelections;

        //On refresh, Frame Selection should match the current url data
        //var relativePath = Nav.ToAbsoluteUri(Nav.Uri).AbsolutePath;
        Nav.LocationChanged += HandleLocationChanged;

        SyncSelectionWithCurrentUrl(Nav.Uri);
    }
    
    private void HandleLocationChanged(object sender, LocationChangedEventArgs e)
    {
        _ = InvokeAsync(() =>
        {
            SyncSelectionWithCurrentUrl(e.Location);
            InvokeAsync(StateHasChanged);
        });
    }
    
    private void SyncSelectionWithCurrentUrl(string uri)
    {
        var relativePath = Nav.ToAbsoluteUri(uri).AbsolutePath;

        var website = WebsiteSelections.FirstOrDefault(option =>
            string.Equals(option.Href, relativePath, StringComparison.OrdinalIgnoreCase));

        var demo = DemoSelections.FirstOrDefault(option =>
            string.Equals(option.Href, relativePath, StringComparison.OrdinalIgnoreCase));

        var selected = website ?? demo;

        if (selected is null)
        {
            _selectedWebsite = null;
            _selectedWebsiteDetails = null;
            OtherIndexOpened = -1;
            return;
        }

        _selectedWebsite = selected;
        _selectedWebsiteDetails = selected;

        OtherIndexOpened =
            FrameSelectionItems.DialogIndexDataFetch.GetFrameOptionIndexByFrameSelectionOption(selected);
    }
    
    private bool SyncSelectionClicked(FrameSelectionOption clicked)
    {
        var selections = WebsiteSelections.Concat(DemoSelections);

        var selected = selections.FirstOrDefault(x =>
            string.Equals(x.InnerText, clicked.InnerText, StringComparison.OrdinalIgnoreCase));

        if (selected is null) return false;

        //replace frame selection with the clicked choice
        _selectedWebsite = selected;
        _selectedWebsiteDetails = _selectedWebsite;
        OtherIndexOpened = FrameSelectionItems.DialogIndexDataFetch.GetFrameOptionIndexByFrameSelectionOption(_selectedWebsiteDetails);
        return true;
    }
    
    public void Dispose()
    {
        Nav.LocationChanged -= HandleLocationChanged;
    }
}
