<!-- --Copyright (c) 2026 Robert A. Howell -->

@using ProjectsPage.Models
<p>Everything below is part of a test arrangement.</p>
<h2>@PageViewSelection.Title</h2>
@* //////////TODOS////////// *@
@* // Full Projects+Demos List *@
@* //+Categorized by technology: Desktop, Cloud, Web *@
@* //+Subcategory? Programming language?, Database? CI/CD? *@
@* <ul>Azure *@
@*     <li>Proj1</li> *@
@*     <li>Proj2</li> *@
@*     <li>Proj3</li> *@
@*     <li>Proj4</li> *@
@* </ul> *@
<div>
    <p>@PageViewSelection.ExternalHref</p>
    <p>@PageViewSelection.ExternalTitle</p>
    <p>@PageViewSelection.Href</p>
    <p>@PageViewSelection.ImageAltText</p>
    <p>@PageViewSelection.ImageUrl</p>
    <p>@PageViewSelection.InnerText</p>
    @if(PageViewSelection.ReferenceHrefs is not null)
    @foreach(var item in PageViewSelection.ReferenceHrefs){
        <p>@item</p>
    }
    @foreach(var item2 in PageViewSelection.DocHrefTitles)
    {
        <p>@item2</p>               
    }
    <p>@PageViewSelection.SelectionDetails.Deployment</p>
    @if(PageViewSelection.SelectionDetails.Descriptions is not null)
    @foreach (var item3 in PageViewSelection.SelectionDetails.Descriptions)
    {
        <p>@item3</p>
    }
    @if(PageViewSelection.SelectionDetails.DetailsList is not null)
    @foreach (var item4 in PageViewSelection.SelectionDetails.DetailsList)
    {
        <p>@item4</p>
    }
    <p>@PageViewSelection.SelectionDetails.Framework</p>
    <p>@PageViewSelection.SelectionDetails.Miscellaneous</p>
    <p>@PageViewSelection.SelectionDetails.ProgrammingLanguage</p>
    <p>@PageViewSelection.SelectionDetails.StartDate</p>
</div>

@code {
    [Parameter]
    public required FrameSelectionOption PageViewSelection { get; set; }
}