<!-- --Copyright (c) 2026 Robert A. Howell -->

@using ProjectsPage.Models
@* //////////TODOS////////// *@
@* // Full Projects+Demos List *@
@* //+Categorized by technology: Desktop, Cloud, Web *@
@* //+Subcategory? Programming language?, Database? CI/CD? *@
@* <ul>Azure *@
@*     <li>Proj1</li> *@
@*     <li>Proj2</li> *@
@*     <li>Proj3</li> *@
@*     <li>Proj4</li> *@
@* </ul> *@
<div>
<div class="content">
    <div>
        <img src="@PageViewSelection.ImageUrl" alt="@PageViewSelection.ImageAltText" />
    </div>
    <h2>@PageViewSelection.Title</h2>
    <table>
        <tbody>
        <tr>
            <td>@PageViewSelection.ExternalTitle</td>
            <td>@PageViewSelection.ExternalHref</td>
        </tr>
        <tr>
            <td>Languages:</td>
            <td><span>@PageViewSelection.SelectionDetails.ProgrammingLanguage</span>
                @if (PageViewSelection.SelectionDetails.SecondaryLanguage is not null)
                    @foreach (var item5 in PageViewSelection.SelectionDetails.SecondaryLanguage)
                {
                    <span>, </span> 
                    <span>@item5</span>
                }
            </td>
        </tr>
        @if (@PageViewSelection.SelectionDetails.Framework != null)
        {
        <tr>
            <td>React framework:</td>
            <td>@PageViewSelection.SelectionDetails.Framework</td>
        </tr>
        }
        </tbody>
    </table>
    
    <table>
        <thead>
        <tr>
            <th>Reference Links</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var (key, value) in PageViewSelection.DocHrefTitles)
        {
            <tr>
                <td>@value</td>
                <td>@key</td>
            </tr>
        }
        </tbody>
    </table>
    @*Metadata: 
        --> PageViewSelection.Networking.Type //i.e. Web, Desktop, Cloud 
        --> PageViewSelection.Networking.Description
    *@
    <p>Created(Date_Created): @PageViewSelection.SelectionDetails.StartDateMonth</p>
</div>
</div>
@code {
    [Parameter]
    public required FrameSelectionOption PageViewSelection { get; set; }
}