<!-- --Copyright (c) 2026 Robert A. Howell -->

@using ProjectsPage.Components.Subcomponents
@using ProjectsPage.Models
@namespace ProjectPage.Components.Primary

<div class="page-view-detail hidden-details" data-dialog-index="@DialogIndex">
    <h3 data-visibility="@(ShowDetails ? null : "no-replace")">Details</h3>
    <p data-visibility="@(ShowDetails ? null : "no-replace")" class="mb0"><span data-visibility="@(ShowDetails ? null : "no-replace")">Name: </span>@SelectedWebsite.Title</p>
    @{
        WriteLine($"Selected__{SelectedWebsite}Title:{SelectedWebsite.Title}");
        WriteLine($"Selected__{SelectedWebsite}PL:{SelectedWebsite.SelectionDetails.ProgrammingLanguage}");
    }
    @if (SelectedWebsite.SelectionDetails.ProgrammingLanguage is not null)
    {
        <p class="mb0" data-visibility="@(ShowDetails ? null : "no-replace")"><span data-visibility="@(ShowDetails ? null : "no-replace")">Programming Language: </span>@SelectedWebsite.SelectionDetails.ProgrammingLanguage</p>
    }
    <SecondaryLanguage SelectedWebsite="@SelectedWebsite" IsHoverElement="false"/>
    @if (!string.IsNullOrEmpty(SelectedWebsite.SelectionDetails.Framework))
    {
        <p class="mb0" data-visibility="@(ShowDetails ? null : "no-replace")"><span data-visibility="@(ShowDetails ? null : "no-replace")">Framework: </span>@SelectedWebsite.SelectionDetails.Framework</p>
    }
    <p class="mb2" data-visibility="@(ShowDetails ? null : "no-replace")">@SelectedWebsite.SelectionDetails.Details</p>
    @if (string.Equals("AgileStock Web", SelectedWebsite.Title)) {
        // only 'Agilestock Web' has a requirements list
        @if (SelectedWebsite.SelectionDetails.Miscellaneous?.RequirementsOl is { Count: > 0 })
        {
            <ol data-visibility="@(ShowDetails ? null : "no-replace")">
                @foreach (var requirement in SelectedWebsite.SelectionDetails.Miscellaneous.RequirementsOl)
                {
                    <li data-visibility="@(ShowDetails ? null : "no-replace")">@requirement</li>
                }
            </ol>
            <p data-visibility="@(ShowDetails ? null : "no-replace")">@SelectedWebsite.SelectionDetails.Descriptions?[0]</p>
        }
    }
    @if (SelectedWebsite.SelectionDetails.DetailsList?.Count > 0)
    {
        <ul data-visibility="@(ShowDetails ? null : "no-replace")">
            @foreach (var listItem in SelectedWebsite.SelectionDetails.DetailsList)
            {
                <li data-visibility="@(ShowDetails ? null : "no-replace")">@listItem</li>
            }
        </ul>
    }
    @if (@SelectedWebsite.ReferenceHrefs is not null && @SelectedWebsite.ReferenceHrefs.Count > 0)
    {
        <h4>Links:</h4>
        @for (var i=0; i<SelectedWebsite.ReferenceHrefs.Count; i++)
        {
            <a href="@SelectedWebsite.ReferenceHrefs[i]" title="@SelectedWebsite.DocHrefTitles[SelectedWebsite.ReferenceHrefs[i]]"
               rel="alternate opener" target="_blank">@SelectedWebsite.DocHrefTitles[SelectedWebsite.ReferenceHrefs[i]]</a>
        }
    }
    </div>

@code {

    

    [Parameter] 
    public bool ShowDetails { get; set; }

    [Parameter] public required FrameSelectionOption SelectedWebsite { get; set; }

    [Parameter]
    public int DialogIndex { get; set; }

}
