<!-- --Copyright (c) 2026 Robert A. Howell -->

@using ProjectsPage.Models
@namespace ProjectPages.Components.Primary

<h2>Websites</h2>
@if (!IsSortedAZ)
{
    <button class="details-panel-sort" @onclick="sortWebsitesAZ">A-Z</button>
}
@if (IsSortedAZ)
{
    <button class="details-panel-sort" @onclick="sortWebsitesZA">Z-A</button>
}

<FrameSelectionItems
    FrameSelections="@WebsitesSelections"
    SelectedFrame="@SelectedFrame"
    OnSelected="@OnSelected"
    OnSelectionChange="@OnSelectionChange"
    OnSetAboutView="@OnSetAboutView"
    SetDetail="@SetDetail"
    StartingNumber="@StartingNumber"
    DeploymentAs="@DeploymentAs"
    OnResortedListSelected="@OnResortedListSelected" />

@code {
    public async Task sortWebsitesAZ()
    {
        SortOrderSelected = SortOrder.AZ;
        IsSortedAZ = true;
        await OnResortedListSelected.InvokeAsync((SortOrderSelected, DeploymentAs));
    }
    public async Task sortWebsitesZA()
    {
        SortOrderSelected = SortOrder.ZA;
        IsSortedAZ = false;
        await OnResortedListSelected.InvokeAsync((SortOrderSelected, DeploymentAs));
    }
    
    private bool IsSortedAZ = default;
    public const string DeploymentAs = "WEBSITE";
    [Parameter]
    public EventCallback<(SortOrder, string)> OnResortedListSelected { get; set; }
    private SortOrder SortOrderSelected { get; set; }
    
    [Parameter]
    public EventCallback<FrameSelectionOption> OnSelected { get; set; }
    
    [Parameter]
    public EventCallback<bool> OnSetAboutView { get; set; }

    [Parameter]
    public required List<FrameSelectionOption> WebsitesSelections { get; set; }

    [Parameter]
    public FrameSelectionOption? SelectedFrame { get; set; } = null;

    [Parameter]
    public bool? SetDetail { get; set; }

    [Parameter]
    public EventCallback<int> OnSelectionChange { get; set; }

    [Parameter]
    public int StartingNumber { get; set; }
}
