<!-- --Copyright (c) 2026 Robert A. Howell -->

@using ProjectsPage.Models
@namespace ProjectPage.Components.Primary

<h2>Websites</h2>
<button class="details-panel-sort" @onclick="sortWebsitesAZ">A-Z</button>
<button class="details-panel-sort" @onclick="sortWebsitesZA">Z-A</button>

<FrameSelectionItems
    FrameSelections="@WebsitesSelections"
    SelectedFrame="@SelectedFrame"
    OnSelected="@OnSelected"
    OnSelectionChange="@OnSelectionChange"
    SetDetail="@SetDetail"
    StartingNumber="@StartingNumber"
    DeploymentAs="@DeploymentAs" />

@code {
    public void sortWebsitesAZ()
    {
        WebsitesSelections.Sort((a, b) => (a.Title).CompareTo(b.Title));
    }
    public void sortWebsitesZA()
    {
        WebsitesSelections.Sort((a, b) => (b.Title).CompareTo(a.Title));
    }
    public const string DeploymentAs = "WEBSITE";
    [Parameter]
    public EventCallback<FrameSelectionOption> OnSelected { get; set; }

    [Parameter]
    public required List<FrameSelectionOption> WebsitesSelections { get; set; }

    [Parameter]
    public FrameSelectionOption? SelectedFrame { get; set; } = null;

    [Parameter]
    public bool? SetDetail { get; set; }

    [Parameter]
    public EventCallback<int> OnSelectionChange { get; set; }

    [Parameter]
    public int StartingNumber { get; set; }
}
