<!-- --Copyright (c) 2026 Robert A. Howell -->

@using ProjectsPage.Components.Secondary
@using ProjectsPage.Domain
@namespace ProjectsPage.Components.Primary

<h2>Demos</h2>
<SortSelectionsAz
    OnResortedListSelected="@OnResortedListSelected"
    DemosSelections="@DemosSelections"
    DeploymentAs="@DeploymentAs"/>

<SortSelectionsDateStart
    OnResortedListSelected="@OnResortedListSelected"
    DemosSelections="@DemosSelections"
    DeploymentAs="@DeploymentAs"/>

<SortSelectionsLang
    OnResortedListSelected="@OnResortedListSelected"
    DemosSelections="@DemosSelections"
    DeploymentAs="@DeploymentAs"/>

<FrameSelectionItems
    FrameSelections="@DemosSelections"
    SelectedFrame="@SelectedFrame"
    OnSelected="@OnSelected"
    OnSetAboutView="@OnSetAboutView"
    OnSelectionChange="@OnSelectionChange"
    SetDetail="@SetDetail"
    StartingNumber="@StartingNumber"
    DeploymentAs="@DeploymentAs"
    UpdateSelectedDirectExternalUrl="@UpdateSelectedDirectExternalUrl"
    OnAfterNavigateToDocsFrameCloseSelectionDetailPanel="OnAfterNavigateToDocsFrameCloseSelectionDetailPanel"/>

    @code {
    [Parameter] public EventCallback<bool> OnAfterNavigateToDocsFrameCloseSelectionDetailPanel { get; set; }

    [Parameter] public EventCallback<string> UpdateSelectedDirectExternalUrl { get; set; }

    [Parameter] public bool? SetDetail { get; set; }

    [Parameter] public EventCallback<(SortOrder, string)> OnResortedListSelected { get; set; }

    [Parameter] public FrameSelectionOption? SelectedFrame { get; set; }

    [Parameter] public int StartingNumber { get; set; }

    [Parameter] public required List<FrameSelectionOption> DemosSelections { get; set; }

    private const string DeploymentAs = "DEMO";
}
