<!-- --Copyright (c) 2026 Robert A. Howell -->

@using ProjectsPage.Components.Secondary
@namespace ProjectsPage.Components.Primary

<h2>Websites</h2>
<SortSelectionsAz
    OnResortedListSelected="@OnResortedListSelected"
    DemosSelections="@WebsitesSelections"
    DeploymentAs="@DeploymentAs"/>

<SortSelectionsDateStart
    OnResortedListSelected="@OnResortedListSelected"
    DemosSelections="@WebsitesSelections"
    DeploymentAs="@DeploymentAs"/>

<FrameSelectionItems
    FrameSelections="@WebsitesSelections"
    SelectedFrame="@SelectedFrame"
    OnSelected="@OnSelected"
    OnSelectionChange="@OnSelectionChange"
    OnSetAboutView="@OnSetAboutView"
    SetDetail="@SetDetail"
    StartingNumber="@StartingNumber"
    DeploymentAs="@DeploymentAs"
    OnResortedListSelected="@OnResortedListSelected"/>

@code {
    private const string DeploymentAs = "WEBSITE";
}
