@page "/websites"
<h2>Websites</h2>

<ul>
    @foreach (var frame in @WebsitesSelections.ToArray())
    {
        <li data-frame-id="">
            <div class="page-view-selection @(SelectedFrame?.Title == frame.Title ? "displaying" : "")" @onclick="() => OnSelectedOnClick(frame)">
                <img src="@frame.ImageUrl" alt="@frame.ImageAltText" />
                <a class="page-view-link" href="@frame.Href"
                   title="@frame.Title"
                >@frame.InnerText</a>
            </div>
        </li>
    }
</ul>

@code {
    [Parameter] public EventCallback<FrameSelectionOption> OnSelected { get; set; }

    private void OnSelectedOnClick(FrameSelectionOption frame)
    {
        OnSelected.InvokeAsync(frame);
    }
}
