@* --Copyright (c) 2026 Robert A. Howell *@

@using System.Collections.Immutable
@using ProjectsPage.Domain
@namespace ProjectsPage.Components.Secondary

<div>
    <button @onclick="@(()=>ToggleViewSummary())">Table</button>
    <button @onclick="ToggleViewSummary">Daily</button>
</div>

<table>
@if (IsViewSummary)
{
    var dateCursor = DateTime.Now;
    var allItems = new SortedSet<HeartbeatData>(Heartbeats.ToImmutableList(), RecordComparison);
    const string dateMeasure = "YEAR";
    const string dateMeasureMonth = "MONTH";
    const string dateMeasureDay = "DAY";

    <tbody>
    @do
    {
        var ( yearSelection, yearHeartbeats )
        = GetLoopDataSet(dateMeasure, allItems, dateCursor, RecordComparison);

        var yearKey = $"{dateCursor.Year}";

        <tr>
            <td><button @onclick="() => Toggle(yearKey)">@(IsExpanded(yearKey) ? "−" : "+")</button>
                @dateCursor.Year
            </td>
            <td></td>
            <td></td>
            <td>-</td>
            <td>-</td>
            <td></td>
            <td>-</td>
        </tr>

        do
        {
            var ( monthSelection, monthHeartbeats )
                = GetLoopDataSet(dateMeasureMonth, yearHeartbeats, dateCursor, RecordComparison);

            var monthKey = $"{dateCursor.Year}-{dateCursor.Month}";

            if (IsExpanded(yearKey))
            {
                <tr>
                    <td>
                        <button @onclick="() => Toggle(monthKey)">@(IsExpanded(monthKey) ? "−" : "+")</button>
                        @dateCursor.ToString("MMMM")
                    </td>
                    <td></td>
                    <td></td>
                    <td>-</td>
                    <td>-</td>
                    <td></td>
                    <td>-</td>
                </tr>
            }

            while (monthHeartbeats.Count > 0)
            {
                var ( daySelection, dayHeartbeats )
                    = GetLoopDataSet(dateMeasureDay, monthHeartbeats, dateCursor, RecordComparison);

                var dayKey = $"{dateCursor.Year}-{dateCursor.Month}-{dateCursor.Day}";

                if (IsExpanded(yearKey) && IsExpanded(monthKey))
                {
                    if (IsExpanded(dayKey) == false)
                    {
                        <tr>
                            <td>
                                <button @onclick="() => Toggle(dayKey)">@(IsExpanded(dayKey) ? "−" : "+")</button>
                                @string.Format("{0,12:d, ddd}", dateCursor)
                            </td>
                            <td></td>
                            <td></td>
                            <td>-</td>
                            <td>-</td>
                            <td></td>
                            <td>-</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>
                                <button @onclick="() => Toggle(dayKey)">@(IsExpanded(dayKey) ? "−" : "+")</button>
                                @string.Format("{0,12:d, ddd}", dateCursor)
                            </td>
                            <td></td>
                            <td></td>
                            <td>-</td>
                            <td>-</td>
                            <td></td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Id</td>
                            <td>Timestamp</td>
                            <td>Agent</td>
                            <td>Project</td>
                            <td>Domain</td>
                            <td>Relative Url</td>
                            <td>ResponseCode</td>
                        </tr>
                    }
                }

                if (IsExpanded(yearKey) && IsExpanded(monthKey) && IsExpanded(dayKey))
                {
                    @foreach (var beat in dayHeartbeats)
                    {
                        <tr>
                            <td><span>@beat.Id</span></td>
                            <td><span>@beat.Timestamp</span></td>
                            <td>@beat.Agent</td>
                            <td>@beat.Project</td>
                            <td>@beat.Domain</td>
                            <td>@beat.RelativeUrl</td>
                            <td>@beat.ResponseCode</td>
                        </tr>
                    }
                }

                monthHeartbeats.RemoveWhere(daySelection);
                dateCursor = dateCursor.AddDays(-1);
            };

            yearHeartbeats.RemoveWhere(monthSelection);
        } while (yearHeartbeats.Count > 0);

        allItems.RemoveWhere(yearSelection);
    } while (allItems.Count > 0);
    </tbody>
}
else {
    <thead>
        <td>Id</td>
        <td>Timestamp</td>
        <td>Agent</td>
        <td>Project</td>
        <td>Domain</td>
        <td>Relative Url</td>
        <td>Response Code</td>
    </thead>
    <tbody>
    @foreach (var beat in Heartbeats)
    {
        <tr>
            <td>@beat.Id</td>
            <td>@beat.Timestamp</td>
            <td>@beat.Agent</td>
            <td>@beat.Project</td>
            <td>@beat.Domain</td>
            <td>@beat.RelativeUrl</td>
            <td>@beat.ResponseCode</td>
        </tr>
    }
    </tbody>
}
</table>
