<!-- --Copyright (c) 2026 Robert A. Howell -->

@using ProjectsPage.Domain

@namespace ProjectsPage.Components.Secondary

@if (SelectedWebsite != null && ShowDetails)
{
    <aside class="page-view-detail
        @(ShowDetails ? "show-details" : "")" data-panel-index="0">
        <SelectedWebsiteDetails
            SelectedWebsite="@SelectedWebsite"
            ShowDetails="ShowDetails"
            DialogIndex="@StartingNumber"
            OnAfterNavigateToDocsFrameCloseSelectionDetailPanel="@OnAfterNavigateToDocsFrameCloseSelectionDetailPanel"/>
        <button @onclick="() => OnCloseClicked.InvokeAsync(false)" class="mb1 details-panel-toggle disabled secondary" aria-hidden="@(ShowDetails ? null : "true")">
            Close
        </button>
    </aside>
}

@code {
    [Parameter] public required FrameSelectionOption? SelectedWebsite { get; set; }

    [Parameter] public bool ShowDetails { get; set; }

    [Parameter] public EventCallback<bool> OnCloseClicked { get; set; }

    [Parameter] public EventCallback<bool> OnAfterNavigateToDocsFrameCloseSelectionDetailPanel { get; set; }

    [Parameter] public int StartingNumber { get; set; }
}
