<!-- --Copyright (c) 2026 Robert A. Howell -->

@page "/status"
@using Microsoft.AspNetCore.Components.Web
@using ProjectsPage.Domain
@using ProjectsPage.Infrastructure
@namespace ProjectsPage.Components.Primary
@rendermode RenderMode.InteractiveServer

<PageTitle>roberthowell.dev</PageTitle>
<article id="Status-Page">
    <hgroup>
        <h2>Status</h2>
    </hgroup>
        <button @onclick="CheckDomainSitesRequestHealthAsync" type="button">TEST</button>
    <div>
        @foreach (var domain in DomainOptions)
        {
            <section>
                <div class="heading-height hide-domain-test-btn">
                    <hgroup class="domain">
                        <h2>@domain.Tld</h2>
                    </hgroup>
                    <button class="hidden-test-btn"
                            @onclick="() => RunRequestHealthChecksAsync([..domain.Sites.Select(s => s.Url)])"
                            type="button">TEST</button>
                </div>
                <table class="subdomain">
                    <tbody>
                    @foreach (var subdomain in domain.Sites)
                    {
                        <tr class="row-height hide-site-test-btn">
                            <td class="status">@(_statuses.TryGetValue(subdomain.Url, out var status) ? status : "…")</td>
                            <td>
                                <a class="open-hidden-btn" href="@subdomain.Url" rel="noopener" title="@subdomain.Name"
                                   target="_blank">@subdomain.Name</a></td>
                            <td>
                                <button class="hidden-test-btn"
                                        @onclick="() => RunRequestHealthChecksAsync([subdomain.Url])"
                                        type="button">TEST</button>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </section>
        }
    </div>
    <hr/>
    <div>
    <p>A background service checks the status of each site every 10 minutes.</p>
    <p>Successes count: <a href="/heartbeat-all"
                           data-enhance-nav="false"
                           rel="opener"
                           title="Heartbeat all"
                           target="_self"><span>@SuccessCount</span>
        </a>
        <br/>
        Failures count: <a href="/heartbeat-failures"
                            data-enhance-nav="false"
                            rel="opener"
                            title="Heartbeat failures"
                            target="_self"><span>@FailureCount</span>
        </a>
        <br/>
        Success rate: <span>@SuccessPercentage.ToString("N3")%</span></p>
    <hr/>
    <p>Cloud success: <span>@CloudSuccessPercentage.ToString("N3")%</span>
        <br/>
        On-prem success: <span>@OnPremSuccessPercentage.ToString("N3")%</span></p>
    </div>
</article>

@code {
    private readonly Dictionary<string, string> _statuses = new();

    private readonly HealthCheck _healthCheck = new();
    private static readonly List<DomainOption> DomainOptions = FrameSelection.DomainOptionsData(Projects.Domains);

    private readonly ProjectsHeartbeatFetch _projectsHeartbeatFetch = new();

    private int SuccessCount => _projectsHeartbeatFetch.ProjectsHeartbeatSuccessCount();
    private int FailureCount => _projectsHeartbeatFetch.ProjectsHeartbeatUnsuccessfulCount();
    private decimal SuccessPercentage => _projectsHeartbeatFetch.ProjectsHeartbeatSuccessPercentage();
    private decimal CloudSuccessPercentage => _projectsHeartbeatFetch.ProjectsHeartbeatCloudSuccessPercentage();
    private decimal OnPremSuccessPercentage => _projectsHeartbeatFetch.ProjectsHeartbeatOnPremSuccessPercentage();
}
