<!-- --Copyright (c) 2026 Robert A. Howell -->

@page "/status"
@using Microsoft.AspNetCore.Components.Web
@using ProjectsPage.Domain
@using ProjectsPage.Infrastructure
@namespace ProjectsPage.Components.Primary
@rendermode RenderMode.InteractiveServer

<PageTitle>roberthowell.dev</PageTitle>
<article>
    <hgroup>
        <h2>Status</h2>
    </hgroup>
        <button @onclick="CheckDomainSitesRequestHealthAsync" type="button">TEST</button>
    <div>
        @foreach (var domain in DomainOptions)
        {
            <section>
                <hgroup class="domain">
                    <h2>@domain.Tld</h2>
                </hgroup>
                <button @onclick="()=>RunRequestHealthChecksAsync(domain.Sites.Select(s => s.Url).ToList())" type="button">TEST</button>
                <table class="subdomain">
                    <tbody>
                    @foreach (var subdomain in domain.Sites)
                    {
                        <tr>
                            <td class="status">@(_statuses.TryGetValue(subdomain.Url, out var status) ? status : "…")</td>
                            <td>
                                <a href="@subdomain.Url" rel="noopener" title="@subdomain.Name"
                                   target="_blank">@subdomain.Name</a></td>
                            <td>
                                <button @onclick="()=>RunRequestHealthChecksAsync([subdomain.Url])" type="button">TEST</button>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </section>
        }
    </div>
    <hr/>
    <p>A background service checks the status of each site every 10 minutes.</p>
    <p>Successes count: <span>@_successCount</span>
        <br/>
        Failures count: <span>@_failureCount</span>
        <br/>
        Success rate: <span>@_successPercentage%</span></p>
</article>

@code {
    private Dictionary<string, string> _statuses = new();
    
    private readonly HealthCheck _healthCheck = new();
    private static readonly List<DomainOption> DomainOptions = FrameSelection.DomainOptionsData(Projects.Domains);

    private readonly int _successCount = FrameSelectionData.ProjectsHeartbeatSuccessCount();
    private readonly int _failureCount = FrameSelectionData.ProjectsHeartbeatUnsuccessfulCount();
    private readonly decimal _successPercentage = FrameSelectionData.ProjectsHeartbeatSuccessPercentage();
}
